@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.WorkflowAIFeedbackModal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 440px;
  background-color: white;
  border: 1px solid rgba(209, 213, 219, 1);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  & .title {
    font-size: 16px;
    font-weight: 600;
    padding: 16px 14px;
    border-bottom: 1px solid rgba(229, 231, 235, 1);
  }

  & .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 16px 14px;
  }

  & .description {
    font-size: 14px;
    font-weight: 400;
  }

  & .caption {
    font-size: 12px;
    font-weight: 400;
  }

  & .input_container {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
  }

  & .feedback_input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  & .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;

    & button {
      padding: 8px 16px;
    }
  }

  & .cancel_button {
    background-color: var(--workflowai-feedback-modal-cancel-bg, #f3f4f6);
    color: var(--workflowai-feedback-modal-cancel-text, #1f2937);
  }

  & .submit_button {
    background: linear-gradient(90deg, #8759e3 0%, #4235f8 100%);
    color: var(--workflowai-feedback-modal-submit-text, #ffffff);
  }

  & .spinner {
    animation: spin 1s linear infinite;
  }
}

.WorkflowAIFeedbackModalContainer {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
